/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* VARIABLE */
:root {
    --red-color: #fd4646;
    --blue-color: #1b9cd7;
    --white-color: #ffffff;
    --container-color: #02192a;
    --font-san: sans-serif;
    --font-poppin: Poppins;
    --font-mont: Montserrat;
    --box-shadow-color: rgba(0, 0, 0, 0.43);
}

/* UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-san);
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--container-color);
    color: var(--white-color);
}

.lg-container {
    max-width: 90%;
    width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
}

/* NAV */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--container-color);
    box-shadow: 2px 7px 12px var(--box-shadow-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo-container a,
.cart-nav-icon i {
    color: var(--white-color);
    font-size: 600;
}

.logo-container a {
    font-size: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-link a {
    color: var(--white-color);
    font-size: 18px;
}

.nav-link a.active {
    color: var(--blue-color);
}

.close-nav-container{
    display: none;
    cursor: pointer;
}

.close-nav-container i{
    font-size: 25px;
}

.nav-icons-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hamburger-container {
    display: none;
    cursor: pointer;
}

.hamburger-container i{
    font-size: 25px;
}

.cart-nav-icon i {
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.cart-nav-icon i[data-quantity="0"]::after {
    contain: "";
}

.cart-nav-icon i[data-quantity]::after {
    content: attr(data-quantity);
    width: 20px;
    height: 20px;
    clip-path: circle();
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -35%;
    left: 60%;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 360px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: var(--container-color);
    box-shadow: -3px 1px 7px var(--box-shadow-color);
    transition: 200ms ease;
    overflow: auto;
    scroll-behavior: smooth;
}

.cart-sidebar.open {
    right: 0;
}

#closeCart {
    position: absolute;
    top: 1%;
    right: 10%;
    font-size: 24px;
    color: var(--blue-color);
    cursor: pointer;
}

.cart-title {
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
}

.cart-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.cart-img-container {
    flex-basis: 30%;
}

#cartImg {
    width: 85px;
    height: 85px;
    border-radius: 8px;
    object-fit: cover;
}

.cart-details {
    flex-basis: 60%;
    line-height: 25px;
}

.cart-product-title {
    font-size: 14px;
    text-transform: uppercase;
}

.cartQuantity {
    width: 49px;
    height: 28px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid var(--blue-color);
    outline-color: var(--red-color);
}

.deleteProduct {
    flex-basis: 10%;
    color: var(--red-color);
    cursor: pointer;
}

.total-container {
    border-top: 1px solid var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-top: 20px;
    padding-top: 25px;
}

.total-text,
.total-price {
    font-weight: 600;
}

.total-text {
    font-size: 20px;
}

.total-price {
    font-size: 18px;
}

.cart-btn-container {
    text-align: center;
    margin-top: 2.5rem;
}

.cart-action-btn {
    max-width: 50%;
    width: 100%;
    height: 42px;
    border-radius: 21px;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 300ms ease;
}

.cart-action-btn:active {
    transform: scale(0.96);
}

/* NAV ENDS */


/* HERO SECTION */
.hero-section {
    margin: 80px 0 0;
    padding: 60px 0;
    background: url(../img/hero4.png);
    background-repeat: no-repeat;
    background-position: top 25% right 50%;
    height: 75vh;
    position: relative;
    z-index: 1;
}

.hero-section::before {
    content: "";
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    z-index: -1;
}

.hero-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    padding: 40px 0 0;
    margin: 2.5% 0 0 5.5%;
    max-width: 768px;
    color: var(--container-color);
}

.hero-container h2 {
    font-size: 55px;
    font-family: var(--font-mont);
    text-transform: uppercase;
}

.hero-container p {
    color: #000000;
    font-size: 24px;
    font-family: var(--font-mont);
    line-height: 37px;
}

.hero-container button {
    margin-top: 28px;
    width: 200px;
    height: 56px;
    border-radius: 28px;
    border: none;
    background-color: var(--red-color);
    color: var(--white-color);
    box-shadow: -2px 5px 15px var(--box-shadow-color);
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 400ms;
    cursor: pointer;
}

.hero-container button:active {
    transform: scale(0.95);
}

/* HERO SECTION ENDS */


/* SHOP PRODUCT SECTION */
.shop-product-section {
    padding: 80px 10px 30px;
}

.shop-header {
    font-size: 28px;
    font-family: var(--font-poppin);
    text-transform: capitalize;
    text-align: center;
    margin: 40px 0;
}

.main-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

.shop-product-card{
    display: none;
}

.shop-product-card:nth-child(1), 
.shop-product-card:nth-child(2), 
.shop-product-card:nth-child(3),
.shop-product-card:nth-child(4),
.shop-product-card:nth-child(5),
.shop-product-card:nth-child(6){
    display: block;
}


.product-card {
    background-color: #000000;
    box-shadow: -1px 4px 10px var(--box-shadow-color);
    padding: 10px;
    border-radius: 10px;
    transition: all 500ms ease;
    cursor: pointer;
}

.product-card:hover {
    background-color: var(--white-color);
}

.product-card:hover .product-title,
.product-card:hover .price {
    color: var(--container-color);
}

.product-card img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.product-title {
    font-size: 16px;
    margin: 20px 0;
}

.price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 16px;
    font-weight: 500;
}

.add-to-cart {
    background-color: var(--blue-color);
    padding: 10px;
    clip-path: circle();
    cursor: pointer;
    transition: background-color, 500ms ease;
}

.add-to-cart:hover {
    background-color: var(--container-color);
    color: var(--white-color);
}

.shop-btn-container {
    text-align: center;
    margin: 55px 0 40px;
}

.shop-btn-container button {
    width: 220px;
    font-size: 24px;
    height: 62px;
    border-radius: 10px;
    border: none;
    background-color: var(--red-color);
    color: var(--white-color);
    transition: all 330ms;
    cursor: pointer;
    position: relative;
}

.shop-btn-container button:active {
    transform: scale(0.98);
    opacity: 0.7;
}

#loadBtn::after{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    border: 4px solid transparent;
    border-right: 4px solid var(--white-color);
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 23%;
    animation: load 0.8s linear infinite;
    opacity: 0;
}

@keyframes load{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loadBtn.active{
    color: transparent;
}

#loadBtn.active::after{
    opacity: 1;
}
/* SHOP PRODUCT SECTION ENDS */


/* PREFOOTER SECTION */
.prefooter-section {
    background: url(../img/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.prefooter-section h3 {
    font-size: 35px;
}

.prefooter-section h1 {
    font-size: 50px;
    font-family: var(--font-mont);
}

.prefooter-section h1 span {
    color: var(--red-color);
}

.prefooter-section button {
    width: 220px;
    font-size: 24px;
    height: 62px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--red-color);
    cursor: pointer;
    transition: all 350ms;
}

.prefooter-section button:hover {
    transform: scale(1.06);
}

/* PREFOOTER SECTION ENDS */


/* SUCCESS CONTAINER */
.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 36px;
    height: 100vh;
    font-family: var(--font-poppin);
}

.success-container h2 {
    font-size: 30px;
    font-weight: 600;
}

.success-container p {
    width: 600px;
    font-size: 20px;
}

.success-container img {
    width: 280px;
}

.success-container a {
    background-color: var(--white-color);
    color: var(--blue-color);
    text-decoration: underline;
    font-size: 18px;
    padding: 15px 28px;
    border-radius: 28px;
}

/* SUCCESS CONTAINER ENDS */
@media(max-width: 860px) {
    .logo-container a {
        font-size: 20px;
    }

    .nav-link {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 360px;
        width: 100%;
        height: 100vh;
        padding: 100px 20px 10px;
        background-color: var(--container-color);
        box-shadow: -3px 1px 7px var(--box-shadow-color);
        transition: 200ms ease;
        scroll-behavior: smooth;
        z-index: 1;
    }

    .nav-link a:hover{
        background-color: var(--white-color);
        color: var(--blue-color);
        width: 100%;
        padding: 15px 4px;

    }

    .nav-link.open{
        right: 0;
    }

    .close-nav-container{
        display: block;
        position: absolute;
        top: 4%;
        right: 5%;
    }

    .hamburger-container {
        display: block;
    }

    .hero-section{
        background-position: top right 20%;
    }
    
    .hero-container{
        margin: 25% 20px;
        padding: 30px 15px;
        color: var(--white-color);
        background-color: rgba(0, 0, 0, 0.539);
    }

    .hero-container h2{
        font-size: 37px;
    }

    .hero-container p{
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        color: var(--white-color);
    }

    .hero-container button{
        width: 150px;
        height: 44px;
        font-size: 18px;
        margin-top: 14px;
    }

    .prefooter-section h3{
        font-size: 20px;
    }

    .prefooter-section h1{
        font-size: 27px;
    }

    .shop-btn-container button, 
    .prefooter-section button{
        width: 150px;
        height: 42px;
        font-size: 16px;
    }
}


@media(max-width: 480px){
    .hero-container h2{
        font-size: 20px;
    }

    .hero-container p{
        font-size: 14px;
        line-height: 20px;
    }

    .shop-btn-container button{
        width: 110px;
    }

    .prefooter-section h3{
        font-size: 16px;
    }

    .prefooter-section h1{
        font-size: 20px;
    }

    .shop-btn-container button, 
    .prefooter-section button{
        height: 42px;
        font-size: 14px;
    }

    .prefooter-section button{
        width: 125px;
    }
}


@media(max-width: 420px) {
    .logo-container a {
        font-size: 17px;
    }

    .hero-container button{
        width: 100px;
        height: 36px;
        font-size: 14px;
    }

    .prefooter-section{
        height: 20vh;
    }

    .prefooter-section h3{
        font-size: 16px;
    }

    .prefooter-section h1{
        font-size: 18px;
    }
}